.image-main {
  max-width: 25rem;
  height: 25rem;
  margin-bottom: 5px;
}

.image-secondary {
  max-width: 6.25rem;
  height: 6.25rem;
}

.image-secondary:hover {
  opacity: 80%;
  color: #005678;
}
@media only screen and (max-width: 500px) {
  .image-main {
    max-width: 15rem;
    height: 15rem;
  }

  .image-secondary {
    max-width: 5rem;
    height: 5rem;
  }
}
