@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "light-blue-heading": #d1f7ff,
  "light-blue-table": #68a6bb,
  "mid-blue-heading": #05d9e8,
  "mid-dirty-blue": #4a9bba,
  "dark-blue": #005678,
  "neon-pink": #f00751,
  "neon-pink-2": #ff286b,
  "dark-pink": #9e1842,
  "primary": #f00751,
  "secondary": #05d9e8,
  );
  $card-primary: #05d9e8;

.card,
.btn,
.form-control {
  border-radius: 3px;
}

@import "bootstrap";
