.container{
    display: grid;
    grid-template-columns:60vw 40vw;
    grid-template-rows: 100%;
    grid-template-areas: "main side";
    /* padding: 0; */
}

.main{
    grid-area: main;
    /* transform: translate(-100%, -100%); */
}

.side{
    grid-area: side;
    background-color: #d1f7ff;
    opacity: 50%;
    overflow-y: scroll;
}

