@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
// @import "~bootstrap/scss/bootstrap";

// @import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/reboot";

$teko: "Teko", sans-serif;
$east-sea-dokdo: "East Sea Dokdo", cursive;

//new colors
$light-blue-heading: #d1f7ff;
$light-blue-table: #68a6bb;
$mid-blue-heading: #05d9e8;
$mid-dirty-blue: #4a9bba;
$dark-blue: #005678;
$neon-pink: #f00751;
$neon-pink-2: #ff286b;
$dark-pink: #9e1842;

//overrides
$table-accent-bg: $light-blue-table;
$table-hover-bg: rgba(#ff286b, 0.5);

$theme-colors: (
  "primary": $mid-blue-heading,
  "secondary": $neon-pink,
  "card-primary": $mid-dirty-blue,
  "card-text": $dark-pink,
  "a": $neon-pink-2,
);

//bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

h1 {
  font: 100% $teko;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  color: $mid-blue-heading;
}

h1::before {
  content: attr(data-title);
  position: absolute;
  color: $light-blue-heading;
  width: 100%;
  top: -5px;
  left: -5px;
}

h2 {
  font: 100% $east-sea-dokdo;
  font-size: 5em;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  color: $mid-blue-heading;
  padding: 0 1rem 0 1rem;
}
h2::before {
  content: attr(data-title);
  position: absolute;
  color: $light-blue-heading;
  width: 100%;
  // text-transform: capitalize;s
  top: -5px;
  left: -5px;
  padding: 0 1rem 0 1rem;
}

// a:link {
//   color: none;
// }

a:hover {
  color: $neon-pink-2;
  text-shadow: -1px -1px 3px #004059;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 10em;
  }
  h1::before {
    width: auto;
  }

  h2 {
    font-size: 7em;
  }

  h2::before {
    width: auto;
  }
}

h3 {
  color: #05d9e8;
  font-size: 2rem;
  text-transform: uppercase;
}

body {
  margin: 0;
  // overflow: visible;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Teko",
  //   sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "East Sea Dokdo", cursive;
  font-family: "Teko", sans-serif;
  // font-family: "East Sea Dokdo", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
