@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
// @import "~bootstrap/scss/bootstrap";

// @import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";

$teko: "Teko", sans-serif;
$east-sea-dokdo: "East Sea Dokdo", cursive;

//new colors
$light-blue-heading: #d1f7ff;
$light-blue-table: #68a6bb;
$mid-blue-heading: #05d9e8;
$mid-dirty-blue: #4a9bba;
$dark-blue: #005678;
$neon-pink: #f00751;
$neon-pink-2: #ff286b;
$dark-pink: #9e1842;

//overrides
$table-accent-bg: $light-blue-table;
$table-hover-bg: rgba(#ff286b, 0.5);

$theme-colors: (
  "primary": $mid-blue-heading,
  "secondary": $neon-pink,
  "card-primary": $mid-dirty-blue,
  "card-text": $dark-pink,
);

//bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

h1 {
  font: 100% $teko;
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  color: $mid-blue-heading;
}

h1::before {
  content: attr(data-title);
  position: absolute;
  color: $light-blue-heading;
  width: 100%;
  top: -5px;
  left: -5px;
}

h2 {
  font: 100% $east-sea-dokdo;
  font-size: 4em;
  line-height: 1em;
  white-space: normal;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  color: $mid-blue-heading;
  padding: 0 1rem 0 1rem;
  background: $dark-blue;
  height: 11vh;
  width: auto;
  margin: -60px 0 0 0;
}

h2::before {
  content: attr(data-title);
  position: absolute;
  color: $light-blue-heading;
  width: 100%;
  top: -5px;
  left: -5px;
  padding: 0 1rem 0 1rem;
}

// a:link {
//   color: none;
// }

a:hover {
  color: $neon-pink-2;
  text-shadow: -1px -1px 3px #004059;
  text-decoration: none;
}

.border-container {
  border: 5px solid #ff286b;
  border-radius: 3px;
  border-bottom: 50px solid #ff286b;
  width: 95vw;
  margin: 80px 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateX(15%);
}

@media only screen and (min-width: 770px) {
  h1 {
    font-size: 10em;
  }
  h1::before {
    width: auto;
  }

  h2 {
    font-size: 8vw;
    height: 14vh;
    text-align: left;
    margin: -80px 0 0 0;
  }

  h2::before {
    width: auto;
  }

  .border-container {
    padding: 20px 20px 60px 20px;
    height: auto;
    width: 80%;
    margin: 100px 20px 0 20px;
  }

 
}

.card-deck{
  margin: 0 auto;
}

.card {
  margin-top: 35px;
}
h3 {
  color: #05d9e8;
  font-size: 2rem;
  text-transform: uppercase;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  // overflow: visible;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Teko",
  //   sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "East Sea Dokdo", cursive;
  font-family: "Teko", sans-serif;
  // font-family: "East Sea Dokdo", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark-blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
