//new colors
$light-blue-heading: #d1f7ff;
$light-blue-table: #68a6bb;
$mid-blue-heading: #05d9e8;
$mid-dirty-blue: #4a9bba;
$dark-blue: #005678;
$neon-pink: #f00751;
$neon-pink-2: #ff286b;
$dark-pink: #9e1842;
$shadow: #004059;
$img-hover: rgba($dark-blue, .8);