.title {
  position: relative;
}

.logo {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: 6em;
}
@media only screen and (min-width: 500px) {
  .logo {
    top: 50%;
    transform: translate(-25%, -50%) rotate(-90deg);
    width: auto;
    font-size: 11vw;
  }
}
